* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Xanh Mono", monospace;
  color: white;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.wrapper {
  background-image: url("images/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-width: 1950px;
  min-width: 1850px;
  min-height: 900px;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.money {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: calc(50% - 30px);
  left: calc(100% - 300px);
  font-size: 30px;
}

.betWrapper,
.balanceWrapper {
  display: flex;
  align-items: center;
}

.betWrapper span:first-child,
.balanceWrapper span:first-child {
  margin-right: 5px;
}

.bet,
.balance {
  max-width: 125px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  display: block;
}

.money span {
  display: block;
}

.money span + span {
  font-weight: bold;
  font-family: "digital-7regular";
  letter-spacing: 3px;
}

.dealerSide,
.playerSide {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dealerCards,
.playerCards {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  height: 300px;
  border: 1px white solid;
  margin: 20px;
  padding: 10px;
}

h1 {
  letter-spacing: 5px;
  line-height: 60px;
}

.dealerPoints,
.playerPoints {
  font-size: 30px;
  font-weight: bold;
  font-family: "digital-7regular";
  letter-spacing: 3px;
}

.buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
  cursor: default;
}

.buttons button {
  background-color: tomato;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 5px;
  margin-right: 5px;
}

.buttons button:active {
  -webkit-box-shadow: inset -10px 10px 20px -2px #000000;
  box-shadow: inset -10px 10px 20px -2px #000000;
}

.setup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: calc(50% - 27px);
  right: 325px;
}

.start,
.max,
.half {
  background-color: tomato;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  margin-top: 10px;
}

#betAmount {
  width: 200px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

#betAmount::placeholder {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.card {
  border-radius: 5px;
  margin-right: 10px;
  transform-origin: center;
  height: 252px;
  width: 180px;
  background-position: center;
  background-size: cover;
}

.card--back {
  background-image: url("images/cards/reverse.png") !important;
}

.info {
  position: absolute;
  left: 250px;
  top: calc(50% - 71px);
  font-size: 120px;
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.reset {
  background-color: tomato;
  border: none;
  cursor: pointer;
  font-size: 60px;
  padding: 5px;
  position: absolute;
  left: 20px;
  top: calc(50% - 40.5px);
  display: none;
}

@media (min-width: 1921px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
